


<div >
  <div>
        <app-header></app-header>
  </div>
  
  <!-- <div>
    <app-pagination></app-pagination>
  </div> -->
  <app-search (getResChildPar)="getResChildPar($event)"></app-search>

  <app-groupcard *ngIf="totalLength" [cardDatas]="resData" [page]="page" [totalLength]="totalLength" [movieName]="searchquery"></app-groupcard>
  

   


<div>
  <!-- resData:{{resData}} -->
  <app-pagination *ngIf="totalLength" [cardDatas]="resData" [totalLength]="totalLength" [page]="page" [movieName]="searchquery"
    (getpageres)="setpageres($event)"></app-pagination>
</div>

  <div class="appfooter">
        <app-footer></app-footer>
  </div>
  
</div>
