$accent-color: #e7e7e7;
$brand-color: #fe4141;
$dark-color: #1e1b26;


.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

.cellphone-container {
    
    width: 150px;
    height: 250px;
    background-color: #1e1b26;
    box-shadow: 5px 5px 115px -14px black;
    border-radius: 10px;
}

.movie-img {
    width: 100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
            color-stop(0.00, rgba(0, 0, 0, 1)),
            color-stop(0.35, rgba(0, 0, 0, 1)),
            color-stop(0.50, rgba(0, 0, 0, 1)),
            color-stop(0.65, rgba(0, 0, 0, 1)),
            color-stop(0.85, rgba(0, 0, 0, 0.6)),
            color-stop(1.00, rgba(0, 0, 0, 0)));

    position: relative;

}

.text-movie-cont {
    padding: 0px 5px;
    text-align: justify;
}



.watch-btn {
    display: block;
    border:1px solid rgb(11, 115, 129) ;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    width: 100px;
    user-select: none;
}
.watch-btn:hover{
    background-color: rgb(11, 115, 129);
    color: white;
}

.action-row {
    margin-top: 00px;
    margin-left: 15px;
}

/* TYPOGRAPHY STARTS */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

$heading-font-family: 'Montserrat', sans-serif;
$paragraph-font-family: 'Open Sans', sans-serif;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$font-regular: 400;
$mont-bold: 700;

$text-movie-title: 36px;
$text-summary: 12px;
$text-action-btn: 14px;
$text-movie-description: 12px;

h1,
h2,
h3,
h4,
h5 {
    font-family: $heading-font-family;
    color: $accent-color;
    margin: 0px;
}

h1 {
    font-size: $text-movie-title;
    font-weight: $font-regular;
}

h3 {
    font-size: $text-action-btn;
    font-weight: $font-regular;
    color: $brand-color;
}

h5 {
    font-size: $text-summary;
    font-weight: $font-regular;
}

.movie-gen {
    margin: 0px;
    padding: 0px;

    li {
        font-family: $paragraph-font-family;
        font-size: $text-summary;
        color: darken($accent-color, 40%);
        width: auto;
        display: block;
        float: left;
        margin-right: 6px;
        font-weight: $semi-bold;
    }
}




/* TYPOGRAPHY ENDS */

/** GRID STARTS **/

.thegrid {
    margin: 0 auto;
}

.elements-distance {
    margin: 0px
}

.mr-grid {
    width: 100%;
}

.mr-grid:before,
.mr-grid:after {
    content: "";
    display: table;
}

.mr-grid:after {
    clear: both;
}

.mr-grid {
    *zoom: 1;
}

.col1,
.col2,
.col3,
.col3rest,
.col4,
.col4rest,
.col5,
.col5rest,
.col6,
.col6rest {
    margin: 0% 0.5% 0.5% 0.5%;
    padding: 1%;
    float: left;
    display: block;
}


.col1 {
    width: 98%;
}

.col2 {
    width: 47%;
}

.col3 {
    width: 30.3333333333%;
}

.col4 {
    width: 22%;
}

.col5 {
    width: 17%;
}

.col6 {
    width: 13.6666666667%;
}


.col3rest {
    width: 63.6666666667%;
}

.col4rest {
    width: 72%;
}

.col5rest {
    width: 77%;
}

.col6rest {
    width: 80.3333333333%;
}

.dribbble-link {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50px;
}