.search{
    width:98%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.form{
    text-align: center;
    width: 98%;
}
.searchbox{
    width: 50%;
    color:rgb(11, 115, 129);
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    height: 30px;
    text-align: center;
    font-size: large;

}
.searchbox:active {
    border: none;
    outline: none;
}
.searchbtn{
    border: 0;
    padding: 10px;
    // height: 30px;
    text-align: center;
    font-size: large;
    color: rgb(11, 115, 129);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.searchbtn:hover{
    background-color: rgb(11, 115, 129);
    color: white;
}