<div  class="groupcard" >
    <div class="subgroupcard" *ngFor="let cardData of cardDatas">
        <app-cards [res]="cardData" [page]="pageNo"></app-cards>
    </div>
    </div>

    
        <!-- <app-pagination *ngIf="movieName" ></app-pagination> -->

        <div *ngIf="cardDatas">
            <div class="container">
                <div class="text-center">
        
        
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)" [routerLink]="['/searchquery',1,movieName]">First</a>
        
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)"
                                [routerLink]="['/searchquery',this.pager.currentPage - 1,movieName]">
                                << </a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)"
                                [routerLink]="['/searchquery',page,movieName]">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)"
                                [routerLink]="['/searchquery',pager.currentPage+1,movieName]"> >> </a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)"
                                [routerLink]="['/searchquery',pager.totalPages,movieName]">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    




